.card1 h4{
  display: flex;
  justify-content: center;
}


.allCards {
  display: inline-flex;
  max-width: 100%;

}

.developers {
  display: inline-flex;

}

.card1 img{
  margin-left: 160px;
}

.abc img{
  display: flex;
  justify-content: center;
  margin-left: 55px ;
}

.card {
  background-color: #7267CB;
}

h4{
  font-weight: bold;
}
