footer{
  background-color: #7267CB ;
  font-family: 'Fuzzy Bubbles', cursive;
  margin-top: 10%;
}

h5{
  background-color: #aba3e6 ;
  text-align: center;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  color: black;
}

