<div class="allCards ">

  <div class="card-group ">
      <div class="card border-0">

          <div class="card1">
              <div class="card-body">
                  <h4 class="card-title text-dark">Location</h4>
                  <img src="https://cdn.discordapp.com/attachments/916474456405332020/917165048525361192/1903115.png"
                      class="img-fluid" width="100px" alt="Responsive image">
                  <h4 class="card-title">Colombia, Bogota D.C.</h4>
              </div>
          </div>


      </div>
      <div class="card border-0 ">
          <div class="card-body">
              <h4 class="card-title text-dark">Encode Task App</h4>
              <p class="card-text">
                  Es una aplicación desarrollada por el Team Encode, la cual permite al usuario, poder llevar un
                  registro
                  y control del avance en la realización de sus tareas. Cuenta con la ayuda de un bot para poder
                  entender
                  la funcionalidad de la misma.
              </p>
          </div>
      </div>
      <div class="card abc border-0">
          <div class="card-body">
              <h4 class="card-title">Developers:</h4>
              <div class="card-group py-0 my-0">
                  <div class="card py-0 my-0">
                      <div class="card-body py-0 my-0">
                          <h3 class="card-title py-0 my-0">Rosangela Valero</h3>
                          <a href="https://github.com/RosangelaV21" class="py-0 my-0"><img
                                  class="img-thumbnail py-0 my-0" src="../../../assets/github.png" width="30px"
                                  height="30px" alt="Thumbnail image"></a>
                      </div>
                  </div>
                  <div class="card py-0 my-0">
                      <div class="card-body py-0 my-0">
                          <h3 class="card-title py-0 my-0">Julián Vargas</h3>
                          <a href="https
://github.com/RosangelaV21" class="py-0 my-0"><img class="img-thumbnail py-0 my-0" src="../../../assets/github.png"
                                  width="30px" height="30px" alt="Thumbnail image"></a>
                      </div>
                  </div>

              </div>

              <div class="card-group py-0 my-0">
                  <div class="card py-0 my-0">
                      <div class="card-body py-0 my-0">
                          <h3 class="card-title py-0 my-0">Andreina Párica</h3>
                          <a href="https://github.com/RosangelaV21" class="py-0 my-0"><img
                                  class="img-thumbnail py-0 my-0" src="../../../assets/github.png" width="30px"
                                  height="30px" alt="Thumbnail image"></a>
                      </div>
                  </div>
                  <div class="card py-0 my-0">
                      <div class="card-body py-0 my-0">
                          <h3 class="card-title py-0 my-0">Giancarlo Odreman</h3>
                          <a href="https
://github.com/RosangelaV21" class="py-0 my-0"><img class="img-thumbnail py-0 my-0" src="../../../assets/github.png"
                                  width="30px" height="30px" alt="Thumbnail image"></a>
                      </div>
                  </div>

              </div>
              <div class="card-group py-0 my-0">
                  <div class="card py-0 my-0">
                      <div class="card-body py-0 my-0">
                          <h3 class="card-title py-0 my-0">Génesis Rojas</h3>
                          <a href="https://github.com/RosangelaV21" class="py-0 my-0"><img
                                  class="img-thumbnail py-0 my-0" src="../../../assets/github.png" width="30px"
                                  height="30px" alt="Thumbnail image"></a>
                      </div>
                  </div>
                  <div class="card py-0 my-0">
                      <div class="card-body py-0 my-0">
                          <h3 class="card-title py-0 my-0">Edgar Rangel</h3>
                          <a href="https
://github.com/RosangelaV21" class="py-0 my-0"><img class="img-thumbnail py-0 my-0" src="../../../assets/github.png"
                                  width="30px" height="30px" alt="Thumbnail image"></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
