<div class="padre">

<div class="containerfooter">
  <div class="ubicacion">
  <h5 class="bg-dark text-white"> Ubicación:</h5>
  <img src="https://cdn.discordapp.com/attachments/916474456405332020/917165048525361192/1903115.png" width="96px" alt="ubicacion">

  <p> Bogotá, Colombia.</p>

  </div>

  <div class="about">
  <h5 class="bg-dark text-white"> Encode Task App: </h5>
      <p>  Es una aplicación desarrollada por el Team Encode, la cual  permite al usuario, poder llevar un registro y control del avance en la realización de sus tareas. Cuenta con la ayuda de un bot para poder entender la funcionalidad de la misma. </p>


</div>

<div class="redes"> 
    <h5 class="bg-dark text-white"> Encode Team</h5>
    <div class="cl1"> 
     <div class="team" id="team1"> <p>Rosangela Valero</p> <a href="https://github.com/RosangelaV21" class="github"></a></div>
     <div class="team"id="team2"> <p>Andreina Párica</p><a href="https://github.com/andreparica" class="github"> </a></div>
      <div class="team" id="team3"> <p> Giancarlo Odreman</p><a href="https://github.com/15gianc" class="github"></a></div>
 </div>
 <div class="cl2">
 <div class="team" id="team4"> <p>Genesis Rojas</p> <a href="https://github.com/Nemesisrf" class="github"></a></div>
 <div class="team" id="team5"> <p>Julian Vargas</p><a href="https://github.com/Juli21v" class="github"> </a></div>
  <div class="team" id="team6"> <p>Edgar Rangel</p><a href="https://github.com/Eggi98" class="github"></a></div>
</div>
</div>

  </div>


  <div class="footerfinal">
      <p> Desarrollado por Encode 2021 </p>

  </div>

</div>
